@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:black;

}
nav{
    background-color: blue;
    font-weight: bolder;
    font-family: 'Comic Neue', cursive;
}

nav div .navbar-brand{
    padding: 5px 60px;
}
.nav-item{
    padding: 0px 5px;
}
form input{
    border-radius: 25px;
    margin-right: 125px;
}
.fa-magnifying-glass{
    position: absolute;
    right: 180px;
    top: 21px;
}
.fa-user{
    padding: 10px;
}

h3{
    padding-top: 20px;
}
body{
    background-color: black !important;
    /* overflow: hidden; */
}
h3{
    text-align: center;
    color: white !important;
}
h4{
    padding-left: 30px;
    color: white !important;
}
main{
    color:white !important;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.movie{
    width:200px;
    margin: 2rem;
    position: relative;
    overflow: hidden;
}
.movie img{
    width: 100%;
    border: solid white 2px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.info h4{
    margin-top: 3px;
}
.overview{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding:1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.movie:hover .overview{
    transform: translateY(0);
}
